<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andrew.social.login.instagram.implicit">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name=".InstagramLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenWebView"
            android:windowSoftInputMode="adjustResize" />

    </application>

</manifest>
